/* ARABIC...................................... */
:root{
    --main-color:#fff;
    --red-color:#ff0000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    opacity: 0;
    animation: slideZero .7s forwards;
}
@keyframes slideZero{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
::selection{
    background: var(--red-color);
    color: #000;
}
.container{
    background: url(../images/TO.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 11rem;
    overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--main-color);
    text-transform: uppercase;
}
header .lang{
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid var(--red-color);
    border-radius: 10px;
    color: #fff;
    padding: 12px 40px;
    position: relative;
    transition: .4s;
}
header .lang:hover{
    background: var(--red-color);
}
.language{
    font-size: 19px;
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    background: var(--red-color);
    border-radius: 10px;
    color: var(--main-color);
    padding: 15px 35px;
    transition: all 0.3s;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
}
.language.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.en:hover{
    color:#000;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}
.content .text{
    flex-basis: 60%;
    color:var(--main-color);
}
.content .text-contents{
    display: none;
    margin-bottom: 1rem;
    color: #fff;
}
.content .text-contents h4{
    font-size: 29px;
    font-weight: 600;
    letter-spacing:1px;
    margin-bottom: .2rem;
}
.content .text-contents p{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.8;
}
.text-contents.active-text{
    display: block;
}
.content .image {
    margin-right: 5px;

}
.content .image img{
    width: 470px;
    height: 430px;
    border: 1px solid #b82500;
    border-radius: 7px;
    box-shadow: 0 0 .7rem var(--main-color);
    margin-bottom: 3rem;
    margin-right: 5px;
}
.icons{
    width: 100%;
    position: fixed;
    bottom: 25px;
    text-align: center;
}
.icons img{
    width: 70px;
    height: 65px;
    border: 1px solid #b82500;
    border-radius: 7px;
    margin-left: 10px;
    cursor: pointer;
    transition: all .4s;
}
.icons img:hover{
    transform: scale(1.2);
}
@media only screen and (max-width:1350px){
    .container{
        padding: 0 5rem;
    }
}
 @media only screen and (max-width:992px){
    .container{
        padding: 0 2rem;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .content .text{
        flex-basis: 100%;
    }
    .content .text-contents h4{
        font-size: 23px;
        margin-bottom: 5px;
    }
    .content .text-contents p{
        font-size: 14px;
        font-weight: 200;
        letter-spacing: .3px;
        line-height: 1.3;
    }
    .content .image{
        flex-basis: 100%;
    }
    .content .image img{
        width: 380px;
        height: 380px;
        margin-bottom: 5rem;
    }
    .icons{
        bottom: 7px;
    }
    .icons img{
        width: 55px;
        height: 55px;
        margin-left: 4px;
    }
} 
@media only screen and (max-width:600px){
    .container{
        padding: 0 1rem;
    }
    .logo{
        font-size: 19px;
        letter-spacing: .5px;
    }
    header .lang{
        font-size: 15px;
        letter-spacing: .5px;
        padding: 10px 13px;
    border-radius: 5px;
    }
    .language{
        font-size: 14px;
        letter-spacing: .3px;
        padding: 8px 19px;
        border-radius: 5px;
    }
    .content .text-contents h4{
        font-size: 16px;
    }
    .content .text-contents p{
        font-size: 12px;
    }
    .content .image img{
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
        margin-right: 0;
    }
    .icons img{
        width: 35px;
        height: 35px;
    }
}